server:
  port: 8085

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/customer_db
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: validate   # troque por Flyway assim que criar as migrations
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.time_zone: UTC
  flyway:
    enabled: true      # coloque true quando criar V1__init.sql

management:
  endpoints.web.exposure.include: health,info

logging:
  level:
    root: INFO
    com.coderbank.customer: DEBUG
  pattern:
    console: >
      {"ts":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%p",
       "logger":"%c{1}","msg":"%m","thread":"%t"}%n

feign:
  okhttp.enabled: true

transaction-service:
  base-url: http://localhost:8082

resilience4j:
  retry:
    instances:
      createAccounts:
        max-attempts: 3
        wait-duration: 500ms
        enable-exponential-backoff: true
  circuitbreaker:
    instances:
      createAccounts:
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 30s




